<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RPi Camera WebUI</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#takePhotoButton").click(function(){
                $.post("/take_photo", function(data){
                    $("#photoDisplay").attr("src", "data:image/jpeg;base64," + data.photo_base64);
                });
            });
        });
    </script>
</head>
<body>
    <h1>Raspberry Pi Camera Demo / WebUI</h1>
    <button id="takePhotoButton">Take Photo</button>
    <h2>Preview:</h2>
    <img id="photoDisplay" src="" alt="Result" style="max-width: 75%;">
</body>
</html>
